{% module Template('header.html') %}
  <ul class="breadcrumb">
    <li><a href="/">HallwayChat</a> <span class="divider">&rsaquo;</span></li>
    <li><a href="/rooms">Rooms</a> <span class="divider">&rsaquo;</span></li>
    <li class="active">{{ room }}</li>
  </ul>
    <div id="roster_container">
      <div id="roster_title">People</div>
      <div id="roster">
        {% for user in roster %}
          @{{ user }}<br>
        {% end %}
      </div>
    </div>
    <div id="body">
      <div class="container">
      <div id="inbox">
        {% for message in messages %}
          {% module Template("message.html", message=message) %}
        {% end %}
      </div>
      <div id="input">
        <form action="/a/message/new" method="post" id="messageform">
          <table>
            <tr>
              <td><input name="body" id="message" style="width:500px"/></td>
              <td style="padding-left:5px">
                <input type="submit" value="{{ _("Post") }}"/>
                <input type="hidden" name="room" value="{{ room }}">
                <input type="hidden" name="next" value="{{ request.path }}"/>
                {% module xsrf_form_html() %}
              </td>
            </tr>
          </table>
        </form>
      </div>
      </div>
    </div>
    <script type="text/javascript">
    var room = "{{ room }}";
    </script>
{% module Template('footer.html') %}
